# Environment & Secret files
.env
.env.local
*.env

# Allow example template
!.env.example

# Node Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# System & IDE
.DS_Store
.vscode/
.idea/
